SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=yourusername.pythonanywhere.com,localhost

# DB_ENGINE=sqlite yoki postgresql
DB_ENGINE=sqlite

# PostgreSQL uchun (DB_ENGINE=postgresql bo'lsa)
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432

TELEGRAM_BOT_TOKEN=your-bot-token-here
