# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migrations (optional — bu loyihada saqlab qolish mumkin)
# apps/*/migrations/0*.py

# Distribution / packaging
dist/
build/
*.egg-info/
